html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 0.7rem;
  margin: 0;
  color: #efefef;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}
h1,
h2 {
  margin: 0 0 1rem 0;
}
h2 {
  font-size: 1.25rem;
}
#error {
  color: #f00;
  font-family: monospace;
  transition: all 1s;
}
form {
  display: flex;
}
input,
button,
code,
p {
  font-size: inherit;
}
iframe {
  border: 0;
  width: 100vw;
  height: 100vh;
}
h1.brand {
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
}
h1.brand span {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
}
h1.brand span.left {
  padding-left: 10px;
  flex-basis: main-size;
  width: 44px;
}
h1.brand span.title {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
}
h1.brand span.right {
  padding-right: 10px;
  flex-basis: main-size;
}
.media-content {
  display: flex;
  flex-flow: row wrap;
}
.media {
  width: 320px;
  flex-grow: 1;
  margin-top: 44px;
}
.media .user {
  margin: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}
.media .user img {
  width: 25px;
  height: 25px;
}
.media .user .image {
  flex-basis: main-size;
}
.media .user .username {
  flex-grow: 1;
  align-self: center;
  margin-left: 10px;
}
.media .image img {
  width: 100%;
}
.media .info {
  padding: 10px;
  margin-top: -5px;
}
.media .info .caption {
  margin-top: 5px;
  font-size: 14px;
}
.media .info .likes {
  margin-top: 5px;
  text-align: right;
  font-size: 12px;
}
.status {
  position: absolute;
  left: 10px;
  bottom: 14px;
  font-size: 14px;
}
.page {
  border: 0;
  width: 100vw;
  height: 100vh;
}
